/node_modules
/public/hot
/public/storage
/public/assets
/resources/images/*
/public/images/*
/storage/*.key
/storage/mysql-data
/storage/nginx-logs
/vendor
.idea
.DS_Store
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.history/
.docker/
entrypoint.sh
v8-compile-cache-0
public/js/chunks/*
public/js/app.js
public/js/*.js
public/*.js
public/css/app.css
public/css/main.css
public/css/iconfont.css
public/mix-manifest.json
public/css/material-icons/*
public/css/prism-tomorrow.css
public/uploads/*
