/node_modules
/public/hot
/public/storage
/public/assets
/resources/images/*
/public/images/*
/storage/*.key
/storage/mysql-data
/storage/nginx-logs
/vendor
.idea
.DS_Store
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.history/
